<div class="form-container">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :nome_completo,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "nome_completo" }%>
      <%= f.input :nascimento,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "nascimento" }, as: :date, start_year: Date.today.year - 90,
                  end_year: Date.today.year - 18, order: [:day, :month, :year] %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :telefone,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "telefone" }%>
      <%= f.input :profissao,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "profissao" }%>
      <%= f.input :sexo,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "sexo" }%>
      <%= f.input :cpf,
                  autofocus: true,
                  input_html: { autocomplete: "cpf" }%>
      <%= f.input :tipo_doc,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "tipo_doc" }%>
      <%= f.input :num_doc,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "num_doc" }%>
      <%= f.input :expedidor,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "expedidor" }%>
      <%= f.input :cep,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "cep" }%>
      <%= f.input :complemento,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "complemento" }%>
      <%= f.input :password,
                  required: true,
                  hint: "Deixe em branco caso não queria alterar sua senha",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "É necessário sua senha atual para realizar atualizações",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>

</div>
