<div class="form-container">

  <%= simple_form_for(@fnrh, url: user_fnrhs_path, method: 'post') do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :hotel,
                  autofocus: true,
                  input_html: { autocomplete: "hotel" } %>
      <%= f.input :check_in,
                  autofocus: true,
                  input_html: { autocomplete: "check_in" }, as: :date %>
      <%= f.input :check_out,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "check_out" }, as: :date %>
      <%= f.input :motivo,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "motivo" }%>
      <%= f.input :meio_de_transporte,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "meio_de_transporte" } %>
      <%= f.input :procedencia,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "procedencia" } %>
      <%= f.input :prox_dest,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "prox_dest" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Criar" %>
    </div>
  <% end %>
</div>
